.main{
    height:500px;
    width:500px;
    margin:auto;
    padding:2rem;
    border:3px solid black;
}
h1{
    text-align:center;
}
#red{
    height:100px;
    width:100px;
    background-color:rgb(140, 16, 16);
}

#blue{
    height:100px;
    width:100px;
    background-color:rgb(9, 9, 105);
}

#magenta{
    height:100px;
    width:100px;
    background-color:rgb(132, 13, 132);
}

#olive{
    height:100px;
    width:100px;
    background-color:olive;
}

.fl-box{
    display:flex;
    gap:1rem;
}
.button:hover{
    border:3px solid black;
    /* border-radius:50%; */
}