*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height:400px;
    width:400px;
    margin: 100px auto;
    padding:2rem;
    border:2px solid olive;
    background-color:#000;
    color:whitesmoke;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0.8rem;
}

.gus{
    font-weight:bold;
    margin:10px;
}
#guessField{
    margin:10px auto;
}
#sub{
    padding:0.3rem;
    margin-left:45px;
    background-color:whitesmoke;
}